{{% handler:UploadHandler}}{{!

	This is the mustache template file for the Upload Enumerator example.
	
}}<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<style>
table {
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid black;
}
td {
	padding: 10px;
}
th {
	padding: 10px;
}
</style>
<title>{{title}}</title>
</head>
<body>
<h1>Upload Enumerator</h1>
<h2>This example illustrates how to handle file uploads with Perfect Server.</h2>
<p>
{{count}}{{^count}}0{{/count}} files were uploaded.<br>
{{#count}}
<p>
<table>
<tr><th>File Name</th><th>Field Name</th><th>File Size</th><th>Content Type</th><th>Temp File Name</th></tr>
{{#files}}
<tr><td>{{fileName}}</td><td>{{fieldName}}</td><td>{{fileSize}}</td><td>{{contentType}}</td><td>{{tmpFileName}}</td></tr>
{{/files}}
</table>
</p>
{{/count}}

{{paramsCount}}{{^paramsCount}}0{{/paramsCount}} parameters were POSTed.<br>
{{#paramsCount}}
<p>
<ul>
{{#params}}
	<li>{{paramName}} = {{paramValue}}</li>
{{/params}}
</ul>
</p>
{{/paramsCount}}
</p>
<form method="POST" enctype="multipart/form-data" action="">
File to upload: <input type="file" name="upfile1"><br>
Notes about the file: <input type="text" name="note1"><br>
File to upload: <input type="file" name="upfile2"><br>
Notes about the file: <input type="text" name="note2"><br>
<br>
<input type="submit" value="Press"> to upload the files!
</form>
</body>
</html>
