<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nodes</key>
	<array>
		<string>index.mustache</string>
		<string>PerfectHandlers.swift</string>
	</array>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>ca.treefrog.perfectServerFramework</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.frameworkBase</string>
		<string>com.apple.dt.unit.languageChoice</string>
		<string>com.apple.dt.unit.osxBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template creates a framework containing one or more Perfect Server handlers.</string>
	<key>SortOrder</key>
	<integer>5</integer>
	<key>AssociatedTargetSpecification</key>
	<dict>
		<key>PopUpTitle</key>
		<string>Embed in Application:</string>
		<key>PopUpDescription</key>
		<string>The application target that will host this new framework. The application will be set up to link to and embed the new framework.</string>
		<key>AllowableProductTypes</key>
		<array>
			<string>com.apple.product-type.application</string>
		</array>
		<key>AllowablePlatforms</key>
		<array>
			<string>com.apple.platform.macosx</string>
		</array>
		<key>AssociatedTargetIsDependent</key>
		<true/>
		<key>AssociatedTargetNeedsProductBuildPhaseInjection</key>
		<true/>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>hasUnitTests</string>
			<key>Name</key>
			<string>Include Unit Tests</string>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.apple.dt.unit.cocoaFrameworkUnitTestBundle</string>
							<key>Name</key>
							<string>___PACKAGENAME___Tests</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaLibraryOrFrameworkTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>DEFINES_MODULE</key>
				<string>NO</string>
				<key>SKIP_INSTALL</key>
				<string>NO</string>
				<key>DEPLOYMENT_LOCATION</key>
				<string>YES</string>
				<key>INSTALL_PATH</key>
				<string>/PerfectLibraries</string>
				<key>DSTROOT</key>
				<string>$(CONFIGURATION_BUILD_DIR)</string>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/../Frameworks @loader_path/Frameworks</string>
				<key>FRAMEWORK_VERSION</key>
				<string>A</string>
				<key>COMBINE_HIDPI_IMAGES</key>
				<string>YES</string>
				<key>EMBEDDED_CONTENT_CONTAINS_SWIFT</key>
				<string>YES</string>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>index.mustache</key>
		<dict>
			<key>Path</key>
			<string>index.mustache</string>
		</dict>
		<key>PerfectHandlers.swift</key>
		<dict>
			<key>Path</key>
			<string>PerfectHandlers.swift</string>
		</dict>
		<key>___PACKAGENAME___.h</key>
		<dict>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.cocoaLibraryOrFrameworkTarget</string>
			</array>
			<key>BuildAttributes</key>
			<array>
				<string>Public</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
