{{% handler:NullHandler}}<!DOCTYPE html>
<html lang="en">
<head>
<title>Authenticator Example</title>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
<h1>Authenticator Example</h1>
<p>
<span>Already registered?</span>
<span>Login Here</span>
<form method="POST" action="login" id="login">
	<label>Email Address: <input type="text" name="email" id="email"></label><br>
	<label>Password: <input type="password" name="password" id="password"></label><br>
	<button type="submit" name="Login">Login</button>
</form>
</p>
<hr>
<p>
<span>Not yet registered?</span>
<span>Register Here</span>
<form method="POST" action="register" id="register">
	<label>First Name: <input type="text" name="fname" id="fname"></label><br>
	<label>Last Name: <input type="text" name="lname" id="lname"></label><br>
	<label>Email Address: <input type="text" name="email" id="remail"></label><br>
	<label>Password: <input type="password" name="password" id="rpassword"></label><br>
	<label>Retype Password: <input type="password" name="password2" id="rpassword2"></label><br>
	<button type="submit" name="Login">Register</button>
</form>
</p>
<script>
$(document).ready(function() {
	$('#login').submit(function() {
		var username = $('#email').val(),
			password = $('#password').val()
		
		if (!username || !password) {
			alert('Please verify your login information and try again.')
		} else {
			$.ajax({
				url: "login",
				username: username,
				password: password,
				success: function(data, textStatus, jqXHR) {
					document.location = '/login'
				},
				error: function(jqXHR, textStatus, errorThrown) {
					alert('Please verify your login information and try again.')
				}
			})
		}
		return false
	})
	
	$('#register').submit(function() {
		var username = $('#remail').val(),
			password = $('#rpassword').val(),
			password2 = $('#rpassword2').val(),
			fname = $('#fname').val(),
			lname = $('#lname').val()
		
		if (!username || !password) {
			alert('Please verify your registration information and try again.')
		} else if (password != password2) {
			alert('The passwords did not match.')
		} else {
			$.ajax({
				url: "register",
				data: {"fname":fname, "lname":lname, "email":username, "password":password, "password2":password2},
				success: function(data, textStatus, jqXHR) {
					$.ajax({
						url: "login",
						username: username,
						password: password,
						success: function(data, textStatus, jqXHR) {
							document.location = '/login'
						},
						error: function(jqXHR, textStatus, errorThrown) {
							alert('Please verify your login information and try again.')
						}
					})
				},
				error: function(jqXHR, textStatus, errorThrown) {
					alert('Please verify your login information and try again.')
				}
			})
		}
		return false
	})
})
</script>
</body>
</html>
