<html>
    <head>
        <meta charset='utf-8'>
        <title>Invitation</title>
    </head>
    <body>
    <h1>Hello!</h1>
    <p>Welcome to join {{ name }} </p>
    <p>Please check this link to sign up: <a href="{{ url }}">{{ url }} </p>
    <hr>
    <p><b>Note:</b> the above link will expire in {{ minutes }} minutes.</p>
    <p> {{ name }} </p>
    </body>
</html>