<html>
    <head>
        <meta charset='utf-8'>
        <title>Password Reset</title>
    </head>
    <body>
    <h1>Hello!</h1>
    <p>Please click this link to reset your password: <a href="{{ url }}">{{ url }} </p>
    <hr>
    <p><b>Note:</b> the above link will expire in {{ minutes }} minutes.</p>
    <p> {{ name }} </p>
    </body>
</html>